.header {
    width: 375px;
    height: 50px;
    display: flex;
    align-items: center;
    margin-top: 26.3px;
    justify-content: space-around;
    margin-bottom: 76.7px;
    z-index: 1000;
}

.header .logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    width: 134.5px;
    height: 44px;
    display: flex;
    flex-direction: row;
}

.header .logo span{
    width: 77px;
    font-family: "Baloo 2", sans-serif;
    font-weight: bold;
    font-size: 28.7px;
    color: #2e1018;
}

.header .logo img{
    width: 50%;
}

.header .xt {
    display: flex;
    width: 30%;
    justify-content: space-between;
    align-items: center;
}

.header .X {
    text-decoration: none;
    width: 11px;
    font-family: "Cairo", sans-serif;
    font-size: 17.9px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: normal;
    text-align: center;
    color: #2e1018;
}

.header .telegram {
    text-decoration: none;
    width: 72px;
    font-family: "Cairo", sans-serif;
    font-size: 17.9px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: normal;
    text-align: left;
    color: #2e1018;
}

@media only screen and (min-width: 1024px) {
    .header {
        width: 1190px;
        height: 100px;
        justify-content: space-between;
    }

    .header .logo {
        width: 200px;
        height: 100px;
        justify-content: center;
        align-items: center;
        gap: 16px;
    }

    .header .logo span {
        width: 100%;
        flex-grow: 0;
        font-size: 32px;
        color: #2e1018;
    }

    .header .logo img {
        width: 50%;
    }

    .header .xt {
        width: 300px;
    }

    .header .X {
        font-size: 24px;
        font-weight: 500;
        line-height: 1.3;
        color: #2e1018;      
        width: 100%;
    }

    .header .X:hover {
        color: #ff5f2d;
    }

    .header .discord {
        font-size: 24px;
        font-weight: 500;
        line-height: 1.3;
        color: #2e1018; 
        width: 100%;
    }

    .header .discord:hover {
        color: #ff5f2d;
    }

    .header .telegram {
        font-size: 24px;
        font-weight: 500;
        line-height: 1.3;
        color: #2e1018; 
        width: 100%;
    }

    .header .telegram:hover {
        color: #ff5f2d;
    }
}